/* всплывающее окно online/offline */
.tooltip {
	position: fixed;
	padding: 10px 20px;
	border: 1px solid #b3c9ce;
	border-radius: 4px;
	text-align: left;
	color: #333;
	background: #fff;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

/* Скелет админки */
.AdminIoCommanderPanel{
	width: 90%;
	background: #e2e1df;
	border-radius: 10px;
	margin: auto;
}
.AdminIoCommanderPanelHeader {
	border-radius: 10px 10px 0 0;
	background: #ffa500;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.AdminIoCommanderPanelHeader h2 {
	text-align: center;
	padding-top: 14px;
}
.AdminIoCommanderPanelHeader, .AdminIoCommanderPanelBottom, .AdminIoCommanderPanelBottomUsersOnline, .AdminIoCommanderPanelBottomUsersOffline {
	height: 50px;
}
.AdminIoCommanderPanelBottom {
	clear:right;
	border-radius: 0 0 10px 10px;
	background: #ffa500;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.AdminIoCommanderPanelBottomUsersOnline, .AdminIoCommanderPanelBottomUsersOffline {
	width: 80px;
	float: right;
}
.AdminIoCommanderPanelBottomUsersOnline div, .AdminIoCommanderPanelBottomUsersOffline div {
	text-align: center;
	margin-top: 20%;
}
.AdminIoCommanderPanelBottomUsersOnline {
	background: #3cb371;
	border-radius: 0 0 10px 0;
}
.AdminIoCommanderPanelBottomUsersOffline {
	background: #ff0000;
}
.AdminIoCommanderPanelBody{
	padding: 0 20px 20px 20px;
}
.PanelBodyMargin {
	margin:auto;
	width: 40%;
	text-align: right;
}
.clientObject0, .clientObject1, .clientObject2, .clientObject3, .clientObject4, .clientObject5, .AdminIoCommanderPanelBodyBottom{
	float: right;
}
.clientObject0, .AdminIoCommanderPanelBodyBottom{
	clear:right;
}
.AdminIoCommanderPanelBodyBottom{
	margin-bottom: 20px;
}
.AdminIoCommanderPanelAuth {
	margin:auto;
	width: 40%;
	text-align: right;
	padding: 20px 0;
}
.imgCommandType{
	border-color: #ffa500;
	border-radius: 4px;
}
/* Отчеты по таскам */
.reportTableRow{
	display:table;
}
.reportTableRowtrue {
	background: #3cb371;
}
.reportTableRowfalse {
	background: #ff0000;
}
.reportTableColumnName, .reportTableColumnStatus, .reportTableColumnAnswer, .reportTableColumnDate, .reportTableColumnDateCompl{
	float: left;
	border: 1px solid #b3c9ce;
}
.reportTableColumnName{
}
.reportTableColumnStatus{
}
.reportTableColumnAnswer{
}
.reportTableColumnDate{
}
.reportTableColumnDateCompl{	
}