/* всплывающее окно online/offline */
.tooltip {
	position: fixed;
	padding: 10px 20px;
	border: 1px solid #b3c9ce;
	border-radius: 4px;
	text-align: left;
	color: #333;
	background: #fff;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

/* Скелет админки */
.AdminIoCommanderPanel{
	min-width: 1200px;
	width: 90%;
	background: #e2e1df;
	border-radius: 10px;
	margin: auto;
}
.AdminIoCommanderPanelHeader {
	border-radius: 10px 10px 0 0;
	background: #ffa500;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.AdminIoCommanderPanelHeader h2 {
	text-align: center;
	padding-top: 14px;
}
.AdminIoCommanderPanelHeader, .AdminIoCommanderPanelBottom, .AdminIoCommanderPanelBottomUsersOnline, .AdminIoCommanderPanelBottomUsersOffline {
	height: 50px;
}
.AdminIoCommanderPanelBottom {
	clear:right;
	border-radius: 0 0 10px 10px;
	background: #ffa500;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.AdminIoCommanderPanelBottomUsersOnline, .AdminIoCommanderPanelBottomUsersOffline {
	width: 80px;
	float: right;
}
.AdminIoCommanderPanelBottomUsersOnline div, .AdminIoCommanderPanelBottomUsersOffline div {
	text-align: center;
	margin-top: 20%;
}
.AdminIoCommanderPanelBottomUsersOnline {
	background: #3cb371;
	border-radius: 0 0 10px 0;
}
.AdminIoCommanderPanelBottomUsersOffline {
	background: #ff0000;
}
.AdminIoCommanderPanelBody{
	padding: 0 20px 20px 20px;
}
.PanelBodyMargin {
	margin:auto;
	width: 90%;
	text-align: right;
}
.clientObject0, .clientObject1, .clientObject2, .clientObject3, .clientObject4, .clientObject5, .AdminIoCommanderPanelBodyBottom{
	float: right;
}
.clientObject0, .clientObject1, .clientObject2, .clientObject3, .clientObject4, .clientObject5{
	width: 120px;
}
.clientObject0, .AdminIoCommanderPanelBodyBottom{
	clear:right;
}
.AdminIoCommanderPanelBodyBottom{
	margin-bottom: 20px;
}
.AdminIoCommanderPanelAuth {
	margin:auto;
	width: 40%;
	text-align: right;
	padding: 20px 0;
}
.imgCommandType{
	border-color: #ffa500;
	border-radius: 4px;
}
/* Отчеты по таскам */
.reportTableRow{
	display:table;
	min-width: 1000px;
}
.reportTableRowtrue, .adm_OnlineOn {
	background: #3cb371;
}
.reportTableRowfalse, .adm_OnlineOff {
	background: #ff0000;
}
.reportTableRowtrue, .reportTableRowfalse, .reportTableRowHeader{
	border-top: 1px solid #b3c9ce;
	border-bottom: 1px solid #b3c9ce;
	height: 40px;
	padding-top: 5px;
}
.reportTableRowHeader{
	background: #ffa500;
}
.reportTableColumnName{
	border-left: 2px solid #b3c9ce;
}
.reportTableColumnName, .reportTableColumnStatus, .reportTableColumnAnswer, .reportTableColumnDate, .reportTableColumnDateCompl, .reportTableColumnDateTimeout{
	float: left;
	height:100%;
	overflow: hidden;
	text-overflow: clip;
	border-right: 2px solid #b3c9ce;
}
.reportTableColumnName{
	width: 120px;
}
.reportTableColumnStatus{
	width: 120px;
}
.reportTableColumnAnswer{
	width: 430px;
}
.reportTableColumnDate{
	width: 110px;
}
.reportTableColumnDateTimeout{
	width: 110px;
}
.reportTableColumnDateCompl{
	width: 110px;
}